extends ./base.jade

block body_cells

    td(width=left_col_size || 100, valign="center" style="text-align:center;")
        block left_column

    td(width=right_col_size || 250, valign="top" style="padding-left: 0;")
        block right_column
