extends ./../view/two_column.jade

block variables
    - var right_col_size = 300

block left_column
    p="My left column"

block right_column
    p.
        My right column, a little big bigger.
        The current time according to Switch is [Switch.Date:TimeZone="System"]